## Derivative work of original template from org.opensaml:opensaml-saml-impl:5.1.2:
## saml2-post-binding.vm
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
##
## Velocity Template for Skinny HRD with old browser support.
##
## Velocity context may contain the following properties
##
## XTB:
## XTBVersion - version
## XTBTiles - HRD tiles containing
## - name
## - color
## - description
## - shortcut
## - urn
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Trustbroker Light</title>
		<base href="/app" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico?v${XTBVersion}" />
		<link rel="stylesheet" href="skinnyUIStyles.css?v${XTBVersion}" />
	</head>
	<body>
		<h1 class="skinnyPageTitle">Logins</h1>
		<div class="skinnyContainer">
#foreach( $tile in $XTBTiles )
			<a class="skinnyCard" id="${tile.name}" href="${tile.urn}">
				<span class="skinnyCardIcon" style="background-color: ${tile.color};">
					<span class="skinnyCardShortcut">${tile.shortcut}</span>
				</span>
				<span class="skinnyCardDescription" id="${tile.name}">${tile.description}</span>
			</a>
#end
		</div>
		<div class="skinnyVersionInfo">${XTBVersion}</div>
	</body>
</html>
