<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SAMLMock Refresh Data</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css} "/>
</head>
<body>
<div class="alert alert-success" role="alert">SAMLMock samples have been successfully refreshed!</div>
<nav class="container">
	<a href="/authn/samples" role="button" class="btn btn-outline-primary" th:style="${style_RELOAD_SAMPLES}">Back to request samples</a><br/>
	<a href="/auth/saml2/idp/samples" role="button" class="btn btn-outline-secondary" th:style="${style_RESPONSE_RELOAD_SAMPLES}">Back to response samples</a>
</nav>
</body>
</html>
